{% extends "index.html" %}
{% block content %}

<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">Moja biblioteka filmów</h1>
    <p class="lead">Są tu takie, jakie mi się udalo zaimportować</p>
  </div>
  {% for movie in movies %}
  <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100 {{ color }}">
          <img class="card-img-top" src="http://placehold.it/300x500" alt="">
          <div class="card-body">
              <h4 class="card-title">{{ movie }}</h4>
              <p class="card-text">Testowy tekst to jest, taki sam wszędzie<p>
          </div>
          <div class="card-footer text-center">
              <a href="#" class="btn btn-primary">Pokaż więcej</a>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
